.pagination {
    padding: 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    max-width: 800px;
}

.pagination button {
    text-decoration: none;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin: 0 4px;

    background: white;
    box-shadow: 0 0 16px rgb(220 220 220 / 25%);

    padding: 0;
    border: 0;
    font-size: 12px;
}

.pagination button.activePage {
    background-color: #e5f8e6;
    color: #2c7500;
}

.pagination button.lastPage {
    background-color: #f8e5e5;
    color: #750000;
}
.pagination span {
    padding: 16px;
    width: 100%;
    text-align: center;
}