.hotshots_list {
    display: table;
    border-collapse: separate;
    border-spacing:0 2em;
    width: 100%;
}

.hotshots_list .header > * {
    /*border: 1px solid black;*/
}

.hotshots_list > * {
    display: table-row;
}

.hotshots_list .row {
    border-radius:16px;
    box-shadow: 0px 0px 16px rgba(196, 196, 196, 0.13);
}

.hotshots_list .col {
    vertical-align: middle;
    display: table-cell;
    padding: 2em;
    /*letter-spacing: 1px;*/
    /*border: 1px solid black;*/
    background: white;
    margin: 30px;
}


.hotshots_list .col:nth-child(1) {
    border-radius: 16px 0 0 16px;
}

.hotshots_list .col:nth-child(6) {
    border-radius: 0px 16px 16px 0px;
}

.hotshots_list .col a {
    padding-left: 6px;
}

.hotshots_list img {
    padding: 1em;
    max-height: 100px;
}